:root {
  --primary-color: #fcba03;
  --secondary-color: #c43831;
  --tertiary-color: #3b79e3;
  --light-tertiary-color: #659ffc;
  --light-grey: #f0f0f0;
  --medium-grey: #b3b3b3;
  --dark-grey: #3f3f3f;
  --white: #fbfeff;
  --black: #161616;
  --extra-black: #000;
  --danger: #e31212;
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--medium-grey);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
