.previewer {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.25rem;
}

.previewer hr {
  height: 0.1rem;
  background-color: var(--light-grey);
  border: none;
}

.previewer blockquote {
  margin: 0;
  border-left: 0.5rem solid var(--light-grey);
  padding: 0.5rem 0rem 0.5rem 2rem;
}

.previewer a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.previewer pre {
  background-color: var(--light-grey);
  border-radius: 0.3rem;
  border: 0.1rem solid var(--medium-grey);
  padding: 1rem;
}

.previewer table {
  text-align: left;
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  border: 1px solid var(--medium-grey);
}

.previewer table th {
  border-bottom: 1px solid var(--medium-grey);
}

.previewer table td,
.previewer table th {
  padding: 1rem;
}

.previewer table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.previewer img,
.previewer video {
  width: inherit;
}
